#page-layout {
    color: #ffffff;
    font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
    font-size: 22px;
    background: linear-gradient(to top, #1db899 0%, #330867 100%) no-repeat fixed;
}
.overlay {
    display: flex;
    flex-direction: row;
}
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
h1 {
    font-size: 27px;
    margin-bottom: 0;
}
#welcome-cat {
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 0;
    height: 300px;
    width: 400px;
}
.container-menu {
    height: 100vh;
    margin-right: 2.5rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4), 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.container-descr {
    margin: 2rem 2.5rem 0 0;
    height: 28rem;
    width: 37rem;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4), 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.container-graph {
    height: 28rem;
    margin: 2rem 2rem 0 0;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4), 0 1rem 2rem rgba(0, 0, 0, 0.3);
}
.container-table {
    margin: 2rem 2rem 2rem 0;
    height: 27rem;
    width: 93.5rem;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4), 0 1rem 2rem rgba(0, 0, 0, 0.3);
    justify-content: start;
}