.menu {
  text-align: start;
  line-height: 1.5;
  list-style-type: none;
  margin-left: 1em;
}
.logo {
  filter: invert(100%);
  opacity: 10%;
}
.container-widget {
  padding: 15px;
  display: flex;
  justify-content: space-around;
}